# Set the email address that should be used to contact you if there is a problem with your TLS certificates
{
	email lukas.bujdos@gmail.com
}

# Remove http:// prefix to enable HTTPS
lukasbujdos.com {
	respond /debug/* "Not Permitted" 403
    reverse_proxy localhost:4000
}